
#faq-section {
	max-width: 100%;
	width: 100vw;
	padding: 75px 0px;
	opacity: 1;
	transition: 
		padding 1s ease-out,
		opacity 2s ease-out;
	&.preload-hide {
		opacity: 0;
		padding: 50px 0px 75px;
	}
	
	.faq-container {
		margin: 0 auto;
		padding: 0 15px;
		max-width: 450px;
		@media screen and (min-width: 1000px) {
			max-width: 600px;
		}
		@media screen and (min-width: 1200px) {
			max-width: 700px;
		}
	}
	.faq-title {
		text-align: center;
		margin-bottom: 30px;
	}
	.faq-section-title {
		font-weight: bold;
		padding: 50px 0 15px;
	}
	.faq-question {
		padding: 15px 20px 15px 0;
		border-top: 1px solid #ddd;
		position: relative;
		p {
			margin: 0;
			&:first-child {
				color: #888;
			}
		}
		i {
			float: right;
			color: #ddd;
			position: absolute;
			right: 0;
			top: 15px;
		}
		.faq-answer {
			margin-top: 0px;
			font-weight: bold;
			opacity: 0;
			padding-right: 30px;
			transition: all 0.5s ease-out;
			p {
				display: none;
			}
		}
		&.faq-question-active {
			p:first-child {
				color: #132747;
			}
			i {
				color: #132747;
			}
			.faq-answer {
				color: #132747;
				margin-top: 30px;
				opacity: 1;
				transition: all 0.5s ease-in;
				p {
					display: block;
				}
			}
		}
	}
}