
#involvement-section {
	width: 100%;
	max-width: 100vw;
	padding: 0px 0px 50px;
	
	.container {
		position: relative;
	}
	
	.pedicab-img {
		position: relative;
		bottom: -5px;
		display: block;
		width: 100px;
		height: auto;
	}
	
	.involvement { position: relative; }
	
	.flexbox { 
		display: flex;
		flex-direction: column;
		
		@media screen and (min-width: 768px) {
			flex-direction: row;
			
			&-wcac {
				flex-direction: row-reverse;
			}
		}
	}
	
	.flex-graphic {
		padding: 60px 0;
		
		@media screen and (min-width: 768px) {
			width: 45%;
			align-self: center;
			padding: 0;
		}
		img {
			display: block;
			margin: 0 auto;
			height: 200px;
			max-height: 100%;
			width: auto;
			max-width: 100%;
		    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    		filter: grayscale(100%);
			@media screen and (min-width: 768px) {
				height: 250px;
			}
		}
	}
	
	.flex-content {
	
		padding:  50px;
		
		@media screen and (min-width: 768px) {
			width: 55%;
		}
		@media screen and (min-width: 992px) {
			padding:  85px;
		}
	
		h4 { margin-bottom: 25px; }
		.content-block { padding: 40px 15px; }
	
		&-wr { background-color: #B9E2DF; }
		&-wcac { background-color: rgba(255, 192, 47, 0.3); }
		&-eab { background-color: rgba(19, 39, 71, 0.3); }
	}
	
	.dashed-border {
		position: absolute;
		
		&--bottom, &--top {
			height: 3px;
			width: 100%;
			background-image: linear-gradient(to right, #132747 50%, rgba(255,255,255,0) 0%);
			background-size: 30px 3px;
			background-repeat: repeat-x;
		}
		&--left, &--right {
			width: 3px;
			height: 100%;
			background-image: linear-gradient(to bottom, #132747 50%, rgba(255,255,255,0) 0%);
			background-size: 3px 30px;
			background-repeat: repeat-y;
		}
		&--top { top: 0px; }
		&--left { left: 0px; top: 0px; }
		&--right { right: 0px; top: 0px; }
		&--bottom { bottom: 0px; }
	}
}





























