
.theme-btn-cta-secondary {
	border: 3px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	border-radius: 0px;
	padding: 8px 15px;
	text-transform: uppercase;
	background-color: transparent;
}

.theme-btn-cta-primary {
	border: 3px solid #40AFA7;
	color: rgb(255, 255, 255);
	border-radius: 0px;
	padding: 8px 15px;
	text-transform: uppercase;
	background-color: #40AFA7;
}