/* line 3, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_variables.scss */
.theme-color-yellow {
  color: #FFC02F; }

/* line 2, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  color: #132747;
  margin: 0; }

/* line 10, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
p, a {
  color: #132747; }

/* line 15, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Mina', sans-serif; }
  @media screen and (min-width: 768px) {
    /* line 15, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
    body {
      font-size: 17px; } }

/* line 25, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
h1 {
  font-size: 3.0em; }

/* line 26, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
h2 {
  font-size: 2.2em; }

/* line 27, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
h3 {
  font-size: 1.9em; }

/* line 28, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
h4 {
  font-size: 1.6em; }

/* line 29, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
h5 {
  font-size: 1.3em; }

/* line 30, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
h6 {
  font-size: 1em; }

/* line 32, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
p {
  font-size: 1em; }

/* line 33, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
a {
  font-size: 1em; }

/* line 34, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
strong {
  font-size: 1em; }

/* line 35, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_font.scss */
label {
  font-size: 0.83em;
  font-weight: bold; }

/* line 2, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
.navbar {
  background: linear-gradient(#224070 50%, #1c3863 50%);
  margin-bottom: 0px; }
  @media screen and (min-width: 768px) {
    /* line 2, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
    .navbar {
      height: 62px; } }

/* line 10, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 500px; }

/* line 14, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: #ddd; }

/* line 18, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888; }

/* line 22, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
.navbar-brand {
  padding: 5px;
  padding-left: 25px; }
  @media screen and (min-width: 768px) {
    /* line 22, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
    .navbar-brand {
      padding-left: 100px;
      height: 60px; } }
  /* line 30, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
  .navbar-brand img {
    height: 40px; }
    @media screen and (min-width: 768px) {
      /* line 30, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
      .navbar-brand img {
        height: 50px; } }

/* line 38, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px; }

/* line 43, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: bold; }
  /* line 46, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
  .navbar-default .navbar-nav > li > a:hover {
    color: white; }

/* line 51, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
.navbar-nav > li > a.navbar_contact_btn {
  margin: 8px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid white;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.2s ease-out; }
  /* line 59, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_navigation.scss */
  .navbar-nav > li > a.navbar_contact_btn:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.2s ease-out; }

/* line 2, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_buttons.scss */
.theme-btn-cta-secondary {
  border: 3px solid white;
  color: white;
  border-radius: 0px;
  padding: 4px 35px;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.2s ease-out; }
  /* line 10, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_buttons.scss */
  .theme-btn-cta-secondary:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.2s ease-out; }

/* line 18, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_buttons.scss */
.theme-btn-cta-primary {
  border: 3px solid #40AFA7;
  color: white;
  border-radius: 0px;
  padding: 4px 35px;
  text-transform: uppercase;
  background-color: #40AFA7;
  display: inline-block; }

/* line 2, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_global.scss */
.ruler-break {
  max-width: 100vw;
  position: relative;
  margin: 100px 0px; }

/* line 8, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_global.scss */
.ruler-break-line {
  border-top: 2px solid #FFC02F;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto; }

/* line 15, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/global/_global.scss */
.ruler-break-title {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: white;
  padding: 0 15px;
  font-weight: bold;
  white-space: nowrap; }

/* line 2, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
#home_hero_section {
  background-image: url("../img/home_hero.jpg");
  margin-top: 60px;
  height: calc(100vh - 60px);
  width: 100vw; }

/* line 11, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
.carousel-inner .item .carousel-graphic {
  display: grid;
  margin-top: 50px;
  grid-template-rows: calc(100vh - 50px);
  grid-template-columns: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 0%; }
  @media screen and (min-width: 768px) {
    /* line 11, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
    .carousel-inner .item .carousel-graphic {
      margin-top: 60px;
      grid-template-rows: calc(100vh - 60px); } }

/* line 24, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
.carousel-inner .item .graphic-1 {
  background-image: url("../img/home_hero.jpg"); }

/* line 27, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
.carousel-inner .item .graphic-2 {
  background-image: url("../img/home_hero.jpg"); }

/* line 30, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
.carousel-inner .item .graphic-3 {
  background-image: url("../img/home_hero.jpg"); }

/* line 33, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
.carousel-inner .item .graphic-4 {
  background-image: url("../img/home_hero.jpg"); }

/* line 36, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
.carousel-inner .item .carousel-caption {
  opacity: 0;
  transition: all 0.2s ease-out; }

/* line 41, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
.carousel-inner .item.active .carousel-caption {
  opacity: 1;
  transition: all 0.2s ease-out; }
  @media screen and (min-width: 768px) {
    /* line 41, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
    .carousel-inner .item.active .carousel-caption {
      left: 20px; } }

/* line 53, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
.carousel-indicators .active {
  height: 20px;
  width: 20px;
  margin-left: 25px;
  background-color: #FFC02F;
  border-color: #FFC02F; }

/* line 60, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
.carousel-indicators li {
  height: 20px;
  width: 20px;
  margin-left: 25px;
  background-color: white;
  border-color: white; }
  /* line 67, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
  .carousel-indicators li:first-child {
    margin-left: 0px; }

/* line 73, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
.carousel-caption {
  left: 0px;
  top: 0px;
  right: auto;
  bottom: auto;
  max-width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  font-weight: bold; }
  @media screen and (min-width: 768px) {
    /* line 73, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
    .carousel-caption {
      max-width: 750px;
      top: 20px;
      left: 40px; } }
  /* line 89, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
  .carousel-caption h1 {
    color: white; }
    @media screen and (min-width: 768px) {
      /* line 89, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
      .carousel-caption h1 {
        font-size: 5em; } }
    @media screen and (min-width: 1200px) {
      /* line 89, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
      .carousel-caption h1 {
        font-size: 6em; } }
  /* line 98, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
  .carousel-caption p {
    margin-bottom: 40px;
    font-size: 1.6em;
    color: white; }
  /* line 103, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_carousel.scss */
  .carousel-caption a {
    font-size: 1.6em; }

/* line 2, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_definition.scss */
#definition-banner {
  display: grid;
  background-color: #B9E2DF;
  grid-template-columns: 100vw;
  padding: 75px 0px; }
  @media screen and (min-width: 768px) {
    /* line 2, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_definition.scss */
    #definition-banner {
      grid-template-columns: 35% 65%;
      grid-template-rows: 300px;
      padding: 0; } }

/* line 15, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_definition.scss */
.defBan-img-cell {
  justify-self: center;
  align-self: center; }
  @media screen and (min-width: 768px) {
    /* line 15, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_definition.scss */
    .defBan-img-cell {
      justify-self: end; } }
  /* line 22, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_definition.scss */
  .defBan-img-cell img {
    max-width: 150px;
    height: auto;
    margin: 0px auto 50px;
    display: block; }
    @media screen and (min-width: 768px) {
      /* line 22, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_definition.scss */
      .defBan-img-cell img {
        margin: 0 50px 0 0;
        max-width: 200px; } }

/* line 34, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_definition.scss */
.defBan-def-cell {
  justify-self: start;
  align-self: center;
  max-width: 600px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    /* line 34, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_definition.scss */
    .defBan-def-cell {
      max-width: 700px;
      margin: 0; } }
  /* line 44, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_definition.scss */
  .defBan-def-cell p {
    font-size: 1.3em;
    padding: 0px 15px; }
    @media screen and (min-width: 768px) {
      /* line 44, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_definition.scss */
      .defBan-def-cell p {
        margin: 0; } }
  @media screen and (min-width: 768px) {
    /* line 51, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_definition.scss */
    .defBan-def-cell strong {
      font-size: 1.2em;
      margin-bottom: 0px; } }

/* line 2, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
#services-section {
  padding: 60px 0px 0px;
  max-width: 100vw; }

/* line 7, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
.section-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 40px; }
  @media screen and (min-width: 768px) {
    /* line 7, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
    .section-header {
      font-size: 3em;
      margin-bottom: 25px; } }

/* line 18, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
#services-section .nav-tabs > li {
  float: none;
  display: block;
  zoom: 1;
  padding: 0 20px;
  color: #132747; }
  @media screen and (min-width: 768px) {
    /* line 18, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
    #services-section .nav-tabs > li {
      padding: 0 30px; } }

/* line 29, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
#services-section .nav-tabs > li > a {
  font-weight: bold;
  padding: 10px 0px;
  font-size: 1.3em; }
  @media screen and (min-width: 768px) {
    /* line 29, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
    #services-section .nav-tabs > li > a {
      font-size: 1.5em; } }

@media screen and (min-width: 600px) {
  /* line 40, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  #services-section .nav-tabs > li {
    display: inline-block; } }

/* line 47, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
#services-section .nav-tabs {
  text-align: center;
  border: 0; }

/* line 51, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
#services-section .tab-content {
  position: relative; }

/* line 56, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: none; }

/* line 60, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
.nav-tabs > li > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
  border: none;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  color: inherit; }

/* line 67, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
.nav-tabs > li.active > a::after, .nav-tabs > li.active > a:focus::after, .nav-tabs > li.active > a:hover::after {
  content: "";
  margin: 0 auto;
  border: 0;
  border-bottom: 3px solid #FFC02F;
  display: block;
  max-width: 150px; }

/* line 76, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
.serv-navTab {
  width: 35px;
  height: 60px;
  background-color: #FFC02F;
  position: absolute;
  top: 50px;
  display: none;
  user-select: none; }
  @media screen and (min-width: 600px) {
    /* line 76, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
    .serv-navTab {
      display: block; } }
  /* line 88, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  .serv-navTab:hover {
    cursor: pointer; }
  /* line 91, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  .serv-navTab.serv-navTab-left {
    left: 0px; }
  /* line 94, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  .serv-navTab.serv-navTab-right {
    right: 0px; }
  /* line 97, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  .serv-navTab img {
    width: 25px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* line 107, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
.overview-rides {
  display: grid;
  margin-top: 50px;
  max-width: 100vw;
  grid-row-gap: 50px; }

/* line 114, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
.overview-rides-img {
  height: 100%;
  width: 100%; }
  @media screen and (min-width: 1200px) {
    /* line 114, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
    .overview-rides-img {
      height: auto;
      align-self: end; } }

/* line 123, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
.overview-rides-img img {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 80%;
  max-width: 300px;
  user-select: none; }
  @media screen and (min-width: 768px) {
    /* line 123, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
    .overview-rides-img img {
      max-width: 400px; } }

/* line 135, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
.overview-rides-content {
  padding: 0px 15px; }
  @media screen and (min-width: 768px) {
    /* line 135, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
    .overview-rides-content {
      height: auto;
      align-self: end; } }

/* line 143, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
.overview-rides-content-title {
  text-transform: uppercase;
  margin-bottom: 15px; }

/* line 148, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
.overview-rides-content p {
  margin-bottom: 60px; }

@media screen and (min-width: 768px) {
  /* line 154, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  .overview-rides {
    grid-template-columns: 1fr 1fr; }
  /* line 157, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  .overview-rides-img {
    padding: 0 20px 0 0; }
  /* line 160, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  .overview-rides-img img {
    margin: 0 0 0 auto; }
  /* line 163, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  .overview-rides-content {
    padding: 0;
    margin: 0 60px 0 20px;
    max-width: 500px; } }

/* line 170, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
.serv-overview-btn {
  margin: 0 auto;
  display: block;
  width: 180px;
  font-weight: bold;
  text-align: center;
  padding: 7px 35px; }
  @media screen and (min-width: 768px) {
    /* line 170, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
    .serv-overview-btn {
      margin: 0; } }
  /* line 181, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  .serv-overview-btn:hover {
    color: white;
    text-decoration: none; }

/* line 188, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
#reviews-section {
  max-width: 100vw;
  margin-bottom: 100px; }
  /* line 192, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  #reviews-section .rev-grid {
    display: grid;
    max-width: 100%;
    grid-row-gap: 70px; }
    @media screen and (min-width: 1000px) {
      /* line 192, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
      #reviews-section .rev-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px; } }
  @media screen and (min-width: 1366px) {
    /* line 203, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
    #reviews-section .review:nth-child(1) {
      justify-self: right; } }
  @media screen and (min-width: 1366px) {
    /* line 208, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
    #reviews-section .review:nth-child(2) {
      justify-self: left; } }
  /* line 213, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  #reviews-section .review .review-headshot {
    margin-bottom: 30px; }
    @media screen and (min-width: 1366px) {
      /* line 213, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
      #reviews-section .review .review-headshot {
        float: left;
        margin-bottom: 0px; } }
    /* line 220, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
    #reviews-section .review .review-headshot img {
      width: 100%;
      max-width: 250px;
      padding: 0 15px;
      margin: 0 auto;
      display: block;
      border-radius: 50%;
      height: auto;
      user-select: none; }
  /* line 231, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
  #reviews-section .review .review-content {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 15px; }
    @media screen and (min-width: 1366px) {
      /* line 231, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
      #reviews-section .review .review-content {
        margin: 0;
        overflow: auto;
        transform: translateY(15%); } }
    /* line 242, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_services.scss */
    #reviews-section .review .review-content .review-rating i {
      color: #FFC02F; }

/* line 2, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
#contact-form-section {
  background-color: #132747;
  padding: 50px 0; }
  /* line 6, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
  #contact-form-section .content-title {
    color: #FFC02F;
    text-align: center;
    margin-bottom: 50px; }

/* line 16, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
#contact-form .form-group {
  margin: 0; }

/* line 19, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
#contact-form .form-container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px; }
  @media screen and (min-width: 992px) {
    /* line 19, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
    #contact-form .form-container {
      max-width: 900px; } }

/* line 27, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
#contact-form .contact-form-label {
  margin: 4px 0 0 0; }

/* line 30, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
#contact-form label {
  color: white; }

/* line 33, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
#contact-form input, #contact-form textarea {
  color: white;
  background-color: transparent;
  border-radius: 0px; }
  /* line 38, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
  #contact-form input:focus, #contact-form textarea:focus {
    border-color: #FFC02F;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 192, 47, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 192, 47, 0.6); }

/* line 44, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
#contact-form textarea {
  height: 93px;
  resize: none; }

/* line 48, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
#contact-form #contact-form-submit {
  margin: 30px auto;
  display: block;
  text-align: center;
  width: 150px;
  border: 3px solid #FFC02F;
  color: #FFC02F; }
  /* line 56, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
  #contact-form #contact-form-submit:hover {
    background-color: rgba(255, 192, 47, 0.3); }

/* Customize the label (the container) */
/* line 65, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
.service-item {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 10px 20px 10px 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media screen and (min-width: 992px) {
    /* line 65, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
    .service-item {
      display: inline-block;
      margin: 7px 20px 7px 0; } }

/* Hide the browser's default radio button */
/* line 83, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
.service-item input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

/* Create a custom radio button */
/* line 91, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%; }

/* On mouse-over, add a grey background color */
/* line 103, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
.service-item:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the radio button is checked, add a blue background */
/* line 108, C:/Bitnami/wampstack-7.0.30-1/apache2/htdocs/woorides/Assets/css/scss/home/_contact.scss */
.service-item input:checked ~ .checkmark {
  background-color: #FFC02F;
  border: 1px solid #FFC02F; }

/*# sourceMappingURL=../custom.map */