
#definition-banner {
	display: flex;
	background-color: #B9E2DF;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	padding: 75px 0px;
	overflow-x: hidden;
	@media screen and (min-width: 992px) {
		flex-direction: row;
	}
}

.defBan-img-cell {

	img {
		max-width: 150px;
		height: auto;
		margin: 0px auto 50px;
		display: block;
		@media screen and (min-width: 992px) {
			margin: 0 50px 0 0;
			max-width: 200px;
		}
	}
}

.defBan-def-cell {
	max-width: 600px;
	margin: 0 auto;
	@media screen and (min-width: 768px) {
		max-width: 700px;
		margin: 0;
	}
	
	p {
		font-size: 1.3em;
		padding: 0px 15px;
		@media screen and (min-width: 768px) {
			margin: 0;
		}
	}
	strong {
		@media screen and (min-width: 768px) {
			font-size: 1.2em;
			margin-bottom: 0px;
		}
	}
}