
.theme-btn-cta-secondary {
	border: 3px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	border-radius: 0px;
	padding: 4px 35px;
	text-transform: uppercase;
	background-color: transparent;
	transition: background-color 0.2s ease-out;
	&:hover {
		color: rgb(255, 255, 255);
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.3);
		transition: background-color 0.2s ease-out;
	}
}

.theme-btn-cta-primary {
	border: 3px solid #40AFA7;
	color: rgb(255, 255, 255);
	border-radius: 0px;
	padding: 4px 35px;
	text-transform: uppercase;
	background-color: #40AFA7;
	display: inline-block;
}