
#footer {
	background-color: #132747;
	max-width: 100vw;
	padding: 20px 0;
}
#foot-grid {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
	@media screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}
}

#foot-site-links {
	padding-left: 15px;
	max-width: 500px;
	@media screen and (min-width: 768px) {
		padding-left: 40px;
	}
	
	ul {
		list-style-type: none;
		margin: 0 0 25px 0;
		padding-left: 0px;
		
		li {
			margin: 5px 30px 5px 0;
			display: inline-block;
			a {
				font-weight: bold;
				color: rgb(185, 191, 201);
				&:hover {
					text-decoration: none;
					color: rgb(255, 255, 255);
				}
			}
		}
	}
}

#foot-site-info p {
	color: rgb(185, 191, 201);
	margin-bottom: 5px;
	
	@media screen and (min-width: 450px) {
		br { display: none; }
	}

}

#foot-social {
	padding: 0 10px;
	@media screen and (min-width: 768px) {
		padding-left: 40px;
		justify-self: end;
	}
	
	ul {
		list-style-type: none;
		padding-left: 0px;
		margin: 30px 0;
		li:first-child .social-item {
			@media screen and (min-width: 768px) {
				margin-left: 0;
			}
		}
		@media screen and (min-width: 768px) {
			margin: 0 0 20px;
			padding-right: 40px;
		}
	}
	li {
		display: inline-block;
	}
	#author-plug {
	
		p {
			color: rgb(185, 191, 201);
			font-weight: bold;
		}
		&:hover {
			text-decoration: none;
			p {
				color: rgb(255, 255, 255);
			}
		}
	}
	.social-item {
		width: 45px;
		height: 45px;
		margin: 5px;
		border-radius: 50%;
		background-color: rgb(185, 191, 201);
		position: relative;
		&:hover {
			background-color: rgb(255, 255, 255);
		}
		@media screen and (min-width: 850px) {
			width: 50px;
			height: 50px;
		}
		@media screen and (min-width: 1000px) {
			width: 60px;
			height: 60px;
		}
		@media screen and (min-width: 1200px) {
			margin: 5px 15px;
		}
		
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 20px;
			transform: translate(-50%, -50%);
			color: #132747;
			@media screen and (min-width: 850px) {
				font-size: 25px;
			}
			@media screen and (min-width: 1000px) {
				font-size: 30px;
			}
			&:hover {
				color: #132747;
			}
		}
	}
}